body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
#description {
  width:700px;
  /* input here aligning div to center */
}
p {
  font-family: Verdana;
  font-size: medium;
  text-align: center;
}
button {
  font-family: Verdana;
  font-size: medium;
}
input {
  font-family: Verdana;
  font-size: medium;
}
